<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
 	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
 	
 	<import resource="mysql.xml"/>  
 	<import resource="spring-context.xml"/>  
 	
	<bean class="io.zbus.rpc.RpcServer" init-method="start"> 
		<property name="mqServerAddress" value="localhost:15555"/>  
		<property name="mq" value="/"/>  
		<property name="rpcProcessor" ref="rpcProcessor"/>
	</bean>  
	
</beans>